$grey: #eef3f8;
$blue: #3d7eda;
$red: #e04b23;
$black: #212121;
body {
    color: $black;
}

header {
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    box-shadow: 0px 4px 4px -1px rgba(117, 117, 117, 1);
}

.header-top {
    background-color: $grey;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 17px;
    color: $black;
    padding-top: 18px;
    padding-bottom: 18px;
    transition: opacity 1s ease-in-out;
    &__li {
        letter-spacing: 1px;
        cursor: pointer;
    }
}

// burger-btn
.burger-icon {
    display: none;
    width: 45px;
    height: 35px;
    position: relative;
    cursor: pointer;
}

.burger-icon span {
    transition: transform .4s ease-in-out, opacity .8s ease-in-out, background-color .4s ease-in-out;
    position: absolute;
    height: 9px;
    width: 100%;
    background-color: $red;
    transform: rotate(0deg);
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0 ease transform .3s ease;
}

.burger-icon span:nth-child(1) {
    top: 0;
    opacity: 1;
}

.burger-icon span:nth-child(2),
.burger-icon span:nth-child(3) {
    top: 13px;
}

.burger-icon span:nth-child(4) {
    top: 26px;
    opacity: 1;
}

.toggleIcon span:nth-child(1) {
    opacity: 0;
}

.toggleIcon span:nth-child(2) {
    transform: rotate(45deg);
}

.toggleIcon span:nth-child(3) {
    transform: rotate(-45deg);
}

.toggleIcon span:nth-child(4) {
    opacity: 0;
}

// 
.logo {
    width: 100%;
    height: auto;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    & i {
        padding: 0 10px;
        font-size: 24px;
        color: #cecece;
    }
}

.header,
.footer {
    &-location {
        font-family: 'Gilroy';
        font-weight: 500;
        font-size: 17px;
        padding: 0 15px;
    }
}

.header-contact,
.footer-contact {
    display: flex;
    padding: 0 15px;
    &__about {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        color: #cecece;
    }
    &__number {
        font-family: 'Gilroy';
        font-weight: bold;
        font-size: 24px;
    }
    &__mail {
        font-family: 'Gilroy';
        font-weight: bold;
        font-size: 17px;
        color: $blue;
    }
    &:hover>i {
        color: $black;
    }
    &:hover>.header-contact__about {
        color: $black;
    }
}

.header-contact__burger {
    display: none;
}

.header-btn__burger {
    display: none;
    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    padding: 9px 1px;
    background-color: $red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn {
    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    padding: 18px 32px;
    background-color: $red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.main {
    background-image: url(img/headbg.png);
    background-size: cover;
    background-position: center center;
}

.main-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 145px !important;
    height: 900px;
}

.main-text {
    color: #fff;
    font-family: 'Gilroy';
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    max-width: 600px;
    &__h1 {
        font-size: 46px;
        background-color: $blue;
    }
}

.main {
    &-ul {
        font-size: 28px;
        padding-top: 25px;
    }
    &-li {
        padding-top: 18px;
        font-size: 20px;
        font-weight: normal;
        display: flex;
        align-items: center;
        &__img {
            max-width: 40px;
            width: 100%;
            height: auto;
            margin: 10px;
        }
    }
}

.main-slider {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    &__img {
        margin: auto;
        width: 100%;
        height: auto;
    }
    &__btn {
        margin-bottom: 80px;
    }
}

.portfolio {
    background-color: $grey;
    &-box {
        padding-top: 65px;
        text-align: center;
        font-family: 'Gilroy';
        font-weight: bold;
    }
    &-title {
        font-size: 44px;
        padding-bottom: 45px;
    }
    &-btn {
        background-color: transparent;
        border: 2px solid $red;
        color: $black;
        margin: 20px 0 60px 0;
    }
}

.portfolio-guest {
    padding: 35px 0;
    transition: transform .2s, color;
    cursor: pointer;
    &:hover {
        transform: translateY(-3px);
        color: $blue;
    }
    &__name {
        font-size: 18px;
    }
}

.crop-box {
    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 44px;
    text-align: center;
    padding: 60px 0;
}

.catalog-blocks {
    padding: 0;
    &__vertical {
        display: flex;
    }
}

.catalog-block {
    background-color: $grey;
    margin: 15px;
    padding: 30px;
    cursor: pointer;
    transition: box-shadow .3s, transform .3s;
    &:hover {
        box-shadow: -2px 3px 7px 8px rgba(224, 224, 224, 0.84);
        transform: translateY(-2px);
    }
    &__title {
        font-family: 'Gilroy';
        font-weight: bold;
        font-size: 24px;
    }
    &__article {
        font-family: 'Gilroy';
        font-weight: normal;
        font-size: 16px;
        padding-top: 20px;
    }
    &__img {
        margin: auto;
    }
}

.catalog-block {
    &__vertical {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 0;
    }
    &__horizontal {
        display: flex;
        align-items: center;
    }
}

.additional-content {
    position: relative;
    &__hover {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        background-color: $black;
        transition: opacity .5s;
    }
    &__btn {
        opacity: 1;
    }
    &__img {
        width: 100%;
        height: auto;
    }
}

.additional-blocks {
    padding-bottom: 60px;
}

.additional-content__hover {
    &:hover {
        opacity: .6;
    }
    &:hover>button {
        opacity: 1;
    }
}

.additional-block {
    &__title {
        font-family: 'Gilroy';
        font-weight: bold;
        font-size: 22px;
        text-align: center;
        padding: 20px 0;
    }
}

.sale-fluid {
    background-size: auto 100%;
    background: url(img/dd.png) center no-repeat;
    height: 315px;
    &__free {
        background: url(img/ff.png) center no-repeat;
        margin: 40px 0;
    }
}

.sale-box {
    color: #fff;
    height: 315px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    &__title {
        font-family: 'Gilroy';
        font-weight: bold;
        font-size: 44px;
        padding: 15px 0;
    }
    &__subtitle {
        font-family: 'Gilroy';
        font-weight: normal;
        font-size: 24px;
        padding: 15px 0;
    }
}

.workstep {
    &-title {
        font-family: 'Gilroy';
        font-weight: bold;
        font-size: 24px;
        padding-bottom: 25px;
    }
    &-article {
        font-family: 'Gilroy';
        font-weight: normal;
        font-size: 16px;
        padding-bottom: 25px;
    }
    &-img {
        padding-bottom: 25px;
        width: auto;
        height: 90px;
    }
    &-circle {
        background-color: $blue;
        width: 46px;
        height: 46px;
        border-radius: 50%;
        color: #fff;
        font-family: 'Gilroy';
        font-weight: bold;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -24px;
        left: 94px;
    }
    &-block {
        position: relative;
    }
}

.slider-box {
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.sponsor {
    &-block {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 135px;
        width: 265px;
        border: 1px solid $grey;
        margin: 0 15px;
        padding: 40px 30px;
    }
    &-img {
        width: 100%;
        height: auto;
    }
}

.map {
    position: relative;
    font-family: 'Gilroy';
    &-title {
        font-weight: bold;
        font-size: 42px;
    }
    &-location {
        font-weight: normal;
        font-size: 17px;
    }
    &-number {
        font-weight: bold;
        font-size: 24px;
    }
    &-mail {
        font-weight: bold;
        font-size: 17px;
        color: #3d7eda;
    }
    &-add {
        &__h1 {
            font-weight: bold;
            font-size: 24px;
        }
        &__article {
            font-weight: normal;
            font-size: 17px;
        }
    }
}

.map-box {
    position: absolute;
    z-index: 1;
    left: calc(50% - 560px + 15px);
    top: 0;
    bottom: 0;
}

.map-block {
    width: 440px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 70px 50px;
    background-color: rgba(#f8fbfc, .8);
    position: absolute;
    top: 0;
    bottom: 0;
}

.slick-next,
.slick-prev {
    height: 40px !important;
    width: 40px !important;
    border-radius: 50%;
    border: 2px solid $grey;
}

.slick-prev {
    transform: rotate(180deg);
}

.footer {
    background-color: #2d3541;
    color: #fff;
}

@media screen and (max-width: 1200px) {
    .map-box {
        left: calc(50% - 490px + 15px);
    }
}

@media screen and (max-width: 960px) {
    .header-nav {
        display: none;
    }
    .burger-icon {
        display: block;
    }
    .burger-icon span {
        background-color: $blue;
    }
    .header-contact,
    .header-location,
    .header-btn {
        display: none !important;
    }
    .header-btn__burger {
        display: block !important;
    }
    .header-top__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 18px;
        padding-bottom: 18px;
        font-weight: normal;
    }
    .header-contact__burger {
        display: block;
    }
    .map-box {
        position: relative;
        left: calc(50% - 360px + 15px);
    }
    .map-block {
        position: relative;
        background-color: white;
        padding-left: 0;
    }
}

@media screen and (max-width: 720px) {
    .catalog-blocks {
        text-align: center;
        &__horizontal {
            display: flex;
        }
    }
    .catalog-block__horizontal {
        flex-direction: column;
    }
    .catalog-block__img {
        max-width: 93px;
        max-height: 93px;
        width: 100%;
        height: auto;
    }
    .main-box {
        flex-direction: column;
        height: 950px !important;
    }
    .main-slider__img {
        display: none;
    }
    .map-box {
        left: calc(50% - 260px + 15px);
    }
    .crop-box,
    .portfolio-title {
        font-size: 22px;
    }
}

@media screen and (max-width: 576px) {
    .header-contact__burger {
        font-size: 12px;
    }
    .header-logo {
        width: 110px;
    }
    .map-box {
        left: calc(50% - 160px + 15px);
    }
}